{% extends 'base_layout.html' %}
{% load static from staticfiles %}
{% block content%}
    <h1>Articles List</h1>
    <div class="articles">
    {% for article in articles %}
        <div class="article">

            <h2><a href="{% url 'articles:details' slug=article.slug %}">{{ article.title }}</a></h2>

            <form class="delete-article-link" action= "/blog/{{article.pk}}/remove/" method="post">
                {% csrf_token %}
                <button type="submit">Delete</button>
            </form>
            <p>{{ article.snippet }}</p>

            {% if article.published_date %}
              <p>{{ article.published_date }}</p>
              <h2 class = "comment-icon"><a href="#"> <img src = "{% static 'comments-1.png' %}"> </a></h2>
              <p class = "author">Published</p>

            {% else %}

            <form class="publish-article-link" action= "/blog/{{article.pk}}/publish/" method="post">
                {% csrf_token %}
                <button type="submit">Publish</button>
            </form>

            {% endif %}
            <h5> Created On : {{ article.created_date }}</h5>
        </div>
    {% endfor %}
    </div>
{% endblock %}
