{% load static from staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>My Blog</title>
        <link rel="stylesheet" href="{% static 'css/base_layout.css' %}">
    </head>
    <body>
        <header class="wrapper">
            <h1 class="logo"><a href="{% url 'home' %}"><img  src="{% static 'logo_blog.png' %}" alt="My Blog Image" /></a></h1>
            <nav>

                  {% if user.is_authenticated %}
                  <ul>
                    <li>
                        <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Logout</button>
                        </form>
                    </li>
                    <li class="loggedin-user"> Welcome {{ user.username }} </li>
                  </ul>
                  <ul>
                    <li><a href="{% url 'articles:create' %}" class="highlight">New Article</a></li>
                    <li><a href="{% url 'articles:my-articles' %}" class="highlight">My Articles</a></li>
                 </ul>

                 {% else %}
                 <ul>
                    <li><a href="{% url 'accounts:login' %}">Login</a></li>
                    <li><a href="{% url 'accounts:signup' %}">Signup</a></li>
                 </ul>
                 {% endif %}
            </nav>
        </header>
        <div class="wrapper">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
